{{extend 'layout.html'}}


{{if request.function=='list_posts_by_votes':}}
<h1>{{=category.name.title()}}</h1>
{{=A('sort by datetime', _class='btn', _href=URL('list_posts_by_datetime', args=category.name))}}
{{=A('post a new link', _class='btn btn-primary', _href=URL('create_post', args=category.name))}}
{{elif request.function=='list_posts_by_datetime':}}
<h1>{{=category.name.title()}}</h1>
{{=A('sort by votes', _class='btn', _href=URL('list_posts_by_votes', args=category.name))}}
{{=A('post a new link', _class='btn btn-primary', _href=URL('create_post', args=category.name))}}
{else:}}
<h1>{{=author(user_id)}}</h1>
{{pass}}
<hr/>


{{for post in rows:}}
<div class="well">
 <button data-direction="down">-</button>    <span class="votes" data-id= {{post.id}}>{{=post.votes}}</span> <button data-direction="up">+</button>
     <strong> {{=A(post.title, _href=post.url) if post.url else post.title}}</strong><br/>
    <br />
  {{=A('comments', _href=URL('view_post', args=post.id))}}
</div>
{{pass}}

{{if page>0:}}
{{=A('previous',_class='btn',_href=URL(args=(category.name,page-1)))}}
{{pass}}

{{if len(rows)>=10:}}
{{=A('next',_class='btn',_href=URL(args=(category.name,page+1)))}}
{{pass}}

<script>
    function do_ajax_vote(t, direction){
     let id = jQuery(t).closest('span').attr('data-id'); //zimam nay blizkia span shtoto toj durji data-id
      //  alert('clicked ' + id + '  ' + direction);
       //alert( $('span.votes').html())
        jQuery.ajax({
            method:'post',
            url:'{{=URL('vote_callback')}}',
            data: {'id':id, 'direction':direction},
            success: function(data){
               //  jQuery(t).closest('span').html(data);
               //  $('span.votes').html(data)
            $('span.votes').html()
        }
                    })
    }

    jQuery(function(){
    jQuery('[data-direction=up]').click(function(){do_ajax_vote(this, 'up');});
    jQuery('[data-direction=down]').click(function(){do_ajax_vote(this, 'down');});
    });
</script>
